{%extends "layout.html"%}

{%block header%}
	<h1 style="margin-top: 5%; margin-bottom: 5%; text-align: center;">Plese fill in the details</h1>
{%endblock%}

{%block body%}
	<form action="{{url_for(sign_in)}}" method="post" style="width: 40%; border-radius: 5px; border: 2px solid black; margin: auto; text-align: center;">
	  <div class="form-group">
	    <label for="exampleInputEmail1" style="margin-top: 2%">username</label>
	    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	  <p style="margin-top: 3%; margin-bottom: -1%">Don't have an account?</p>
	  <p><a href="{{url_for('signup')}}">Create an Account</a></p>

	</form>

{%endblock%}